header
    nav 
        ul 
            li
                a(href="/") home 
            li 
                a(href="/users") 유저목록 보기
            li
                a(href="/sign-up") 회원가입
            li 
                a(href="/articles/new-article") 새로운 게시글 작성
            li 
                a(href="/articles") 게시글 목록 보기