<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jincheol Board</title>
  </head>
  <body>
    <h1><a href="/new">회원 가입</a></h1>
    <h1><a href="/users"> 유저목록 조회</a></h1>
    <h1><a href="/boards">게시글 조회 </a></h1>
    <h1><a href="/boards/newboard">게시글 작성</a></h1>
  </body>
</html>
