<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name" placeholder="your name"/>
        <input type="password" name="password" placeholder = "your password"/>
        <input type="text" name="description" placeholder = "your description"/>
        <input type="submit" value="제출하기!"/>
    </form>
</body>
</html>