<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보수정</title>
</head>
<body>
    <form method="post"> 
    <!-- action="post 보낼 URI"-->
        <input placeholder="id" name="id"/>
        <br>
        <input placeholder="name" name="name"/>
        <input placeholder="username" name="username"/>
        <input type="password" placeholder="password" name="password"/>
        <input type="submit" value="수정하기!"/>
    </form>
</body>
</html>