<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post">
            <input placeholder="name" name="name"/>
            <input type="password" name="password" placeholder="password"/>
            <input name="username" placeholder="username"/>
            <input type="submit" value="join now!"/>
        </form>
    </div>
</body>
</html>