<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <form method="POST">
    <input name="name", placeholder = "Name", type="name", required>
    <input name="username", placeholder = "Username", type="text", required>
    <input name="password", placeholder = "Password", type="password", required>
    <input name="password2", placeholder = "Comfirm Password", type="password", required>
    <input name="birth", placeholder = "Birth", type="date", required>
    <input name="contact", placeholder = "Contact", type="text", required>
    <input name="address", placeholder = "Address", type="text", required>
    <input type="submit",value="Join">
</form>
</body>
</html>