<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 검색</title>
</head>
<body>
    <form method="post">
        <input name="name", placeholder = "가게 명", type="text">
        <input type="submit",value="이름으로 검색">
        <select name="type">
            <option value="default"></option>-선택하세요-</option>
            <option value="한식">한식</option>
            <option value="분식">분식</option>
            <option value="양식">양식</option>
            <option value="일식">일식</option>
            <option value="중식">중식</option>
        </select>
        <input type="submit",value="타입으로 검색">
    </form>
</body>
</html>